
.borde-sombreado{
    box-shadow: rgba(0,0,0,0.1) 0px 0px 5px 1px !important;
}

select.btn-miniSisgac1 {
    height: auto;
    line-height: 14px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 16px;
}

.container-sisgac1{
    padding: 20px 0px !important; 
    margin-bottom: -50px !important;
}

.container2{
    padding: 0px 0px !important; 
    margin-bottom: 0px !important;
}

.modal-fixSisgac1{
    margin-bottom: 40px !important;
}

.fondo-BlancoSisgac1{
    padding: 1px 15px 15px 15px; 
    background-color: rgba(255,255,255,1);
}

.hr-bordeAbajo{
    border-bottom: 1px solid #ccc;
}

@-webkit-keyframes animarLoading{
                        from{
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }
                        to{
                            -webkit-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                    .animarLoading{
                        -webkit-animation: animarLoading 1.25s infinite linear;
                        animation: animarLoading 1.25s infinite linear;
                    }